## Milestone 2: Global Land-Ocean Temperature Index Data Set Analysis
### By Mitra Iyer
### November 25th, 2025

#### imports

In [1]:
import pandas as pd

#### import dataframe

In [2]:
file_path = 'global-land-oceantempindex.xlsx'

In [3]:
df = pd.read_excel(file_path)

In [4]:
df

,Year,Temperature Anomaly\n(deg C),Smoothed Temperature Anomaly\n(deg C),Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,1880,-0.16,-0.09,,,,NaN,,,NaN
1,1881,-0.08,-0.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1882,-0.11,-0.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1883,-0.17,-0.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1884,-0.28,-0.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
138,2018,0.85,0.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,2019,0.97,0.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,2020,1.02,0.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,2021,0.85,0.91,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,2022,0.89,0.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index(['Year ', 'Temperature Anomaly\n(deg C)',
       'Smoothed Temperature Anomaly\n(deg C)', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

### Clean all NANS from the unnamed columns

#### create a list that drops all unnamed columns with nans

In [6]:
cols_to_drop = ['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
                'Unnamed: 8', 'Unnamed: 9']

#### drop all the unnamed columns

In [7]:
df = df.drop(columns = cols_to_drop)

#### check dataframe

In [8]:
df.columns

Index(['Year ', 'Temperature Anomaly\n(deg C)',
       'Smoothed Temperature Anomaly\n(deg C)'],
      dtype='object')

In [9]:
df

,Year,Temperature Anomaly\n(deg C),Smoothed Temperature Anomaly\n(deg C)
0,1880,-0.16,-0.09
1,1881,-0.08,-0.13
2,1882,-0.11,-0.16
3,1883,-0.17,-0.20
4,1884,-0.28,-0.24
...,...,...,...
138,2018,0.85,0.93
139,2019,0.97,0.92
140,2020,1.02,0.92
141,2021,0.85,0.91
142,2022,0.89,0.90

### Now print out the properties of the dataset

#### describe the data

In [11]:
df.describe()

,Year,Temperature Anomaly\n(deg C),Smoothed Temperature Anomaly\n(deg C)
count,143.00000,143.000000,143.000000
mean,1951.00000,0.059930,0.059301
std,41.42463,0.367721,0.356101
min,1880.00000,-0.480000,-0.410000
25%,1915.50000,-0.200000,-0.220000
50%,1951.00000,-0.060000,-0.040000
75%,1986.50000,0.265000,0.255000
max,2022.00000,1.020000,0.930000

#### print out all the columns

In [12]:
df.columns

Index(['Year ', 'Temperature Anomaly\n(deg C)',
       'Smoothed Temperature Anomaly\n(deg C)'],
      dtype='object')

#### describe the shape (rows/columns)

In [13]:
df.shape

(143, 3)

#### describe all the datatypes

In [14]:
df.dtypes

Year                                       int64
Temperature Anomaly\n(deg C)             float64
Smoothed Temperature Anomaly\n(deg C)    float64
dtype: object

#### print out the first 5 rows of data

In [15]:
df.head()

   Year   Temperature Anomaly\n(deg C)  Smoothed Temperature Anomaly\n(deg C)
0   1880                         -0.16                                  -0.09
1   1881                         -0.08                                  -0.13
2   1882                         -0.11                                  -0.16
3   1883                         -0.17                                  -0.20
4   1884                         -0.28                                  -0.24

#### print out the last 5 rows of data

In [16]:
df.tail()

,Year,Temperature Anomaly\n(deg C),Smoothed Temperature Anomaly\n(deg C)
138,2018,0.85,0.93
139,2019,0.97,0.92
140,2020,1.02,0.92
141,2021,0.85,0.91
142,2022,0.89,0.90

#### print out one row of data

In [17]:
df.sample()

,Year,Temperature Anomaly\n(deg C),Smoothed Temperature Anomaly\n(deg C)
105,1985,0.12,0.22

#### print out info about the data

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 3 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Year                                  143 non-null    int64
 1   Temperature Anomaly
(deg C)           143 non-null    float64
 2   Smoothed Temperature Anomaly
(deg C)  143 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 3.5 KB