## Milestone 3: Global Land-Ocean Temperature Index Data Set Analysis
### By Mitra Iyer
### November 25th, 2025

#### imports

In [29]:
import pandas as pd

#### import dataframe

In [30]:
file_path = 'global-land-oceantempindex.xlsx'

In [31]:
df = pd.read_excel(file_path)

In [32]:
df

,Year,Temperature Anomaly\n(deg C),Smoothed Temperature Anomaly\n(deg C),Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,1880,-0.16,-0.09,,,,NaN,,,NaN
1,1881,-0.08,-0.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1882,-0.11,-0.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1883,-0.17,-0.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1884,-0.28,-0.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
138,2018,0.85,0.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,2019,0.97,0.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,2020,1.02,0.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,2021,0.85,0.91,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,2022,0.89,0.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df.columns

Index(['Year ', 'Temperature Anomaly\n(deg C)',
       'Smoothed Temperature Anomaly\n(deg C)', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

### Clean all NANS from the unnamed columns

#### create a list that drops all unnamed columns with nans

In [34]:
cols_to_drop = ['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
                'Unnamed: 8', 'Unnamed: 9']

#### drop all the unnamed columns

In [35]:
df = df.drop(columns = cols_to_drop)

#### check dataframe

In [36]:
df.columns

Index(['Year ', 'Temperature Anomaly\n(deg C)',
       'Smoothed Temperature Anomaly\n(deg C)'],
      dtype='object')

In [37]:
df

,Year,Temperature Anomaly\n(deg C),Smoothed Temperature Anomaly\n(deg C)
0,1880,-0.16,-0.09
1,1881,-0.08,-0.13
2,1882,-0.11,-0.16
3,1883,-0.17,-0.20
4,1884,-0.28,-0.24
...,...,...,...
138,2018,0.85,0.93
139,2019,0.97,0.92
140,2020,1.02,0.92
141,2021,0.85,0.91
142,2022,0.89,0.90

### Make column names simple

In [38]:
df.columns

Index(['Year ', 'Temperature Anomaly\n(deg C)',
       'Smoothed Temperature Anomaly\n(deg C)'],
      dtype='object')

#### Create rename map

In [47]:
cols_rename_map = {'Year ': 'year', 
                   'Temperature Anomaly\n(deg C)': 'temp anomaly', 
                   'Smoothed Temperature Anomaly\n(deg C)': 'smoothed temp anomaly'}

In [40]:
df = df.rename(columns=cols_rename_map)

#### Check columns

In [48]:
df.columns

Index(['year', 'temp anomaly', 'smoothed temp anomaly'], dtype='object')

#### Check data

In [46]:
df

     year  temp anomaly  smoothed temp anomaly
0    1880         -0.16                  -0.09
1    1881         -0.08                  -0.13
2    1882         -0.11                  -0.16
3    1883         -0.17                  -0.20
4    1884         -0.28                  -0.24
..    ...           ...                    ...
138  2018          0.85                   0.93
139  2019          0.97                   0.92
140  2020          1.02                   0.92
141  2021          0.85                   0.91
142  2022          0.89                   0.90

[143 rows x 3 columns]

### Check datatypes

In [42]:
df.dtypes

year                       int64
temp anomaly             float64
smoothed temp anomaly    float64
dtype: object

#### Because all the datatypes are what I need, I don't need to change them

### Check if there are NaN values in the dataset

In [43]:
df.isnull().values.any()

np.False_

#### Because there are no NaNs, I do not need to clean the columns for NaNs

#### Create a sepeate cleaned CSV and export

In [44]:
df_cleaned = df

In [45]:
df_cleaned.to_csv('global-land-oceantempindex_cleaned.csv', index = False)

### Note: Overall, this dataset is short, and straightforward. There wasn't much cleaning to do except remove the unnamed columns from the excel file. 

### Thank you!